%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{ href: '/' } My Blog
    %li.toggle-topbar.menu-icon
      

  %section.top-bar-section
    %ul.left
      %li.divider
      %li.active
        %a{ href: '/' }
       